<h1><%= @flow.name %></h1>

<pre>
<%= @flow.body %>
</pre>

<%= link_to "Edit flow", edit_flow_path(@flow) %>

<h2>Schema</h2>

<pre>
<%= @flow.schema %>
</pre>

<h2>ENV Variables</h2>

<ul>
  <% @flow.env_variables.each do |env| %>
    <li><%= env.key %> = <%= env.value %></li>
  <% end %>
</ul>
<%= link_to "Add Variable", new_flow_env_variable_path(flow_id: @flow.id) %>
