<h1><%= link_to "All flows", flows_path %> / <%= @flow.name %></h1>

<div class="layout-column-left">
  <%= link_to "Edit", edit_flow_path(@flow) %>

  <%= highlight_flow(@flow) %>
</div>

<div class="layout-column-right">
  <div class="section">
    <h2>Input Schema</h2>
    <%= highlight_json(@flow.schema) %>
  </div>

  <div class="section">
    <h2>Environment Variables</h2>

    <div class="section-description">
      These variables are kept secret from everyone else,
      but you can use them in your script through <code>Flow.env</code>.
    </div>

    <ul>
      <% @flow.env_variables.each do |env| %>
        <li>
          <code><%= env.key %></code> = <%= "*" * 8 %>
          <%= link_to "[X]", flow_env_variable_path(env, flow_id: @flow), method: :delete %>
        </li>
      <% end %>
    </ul>
    <%= link_to "+ Add Variable", new_flow_env_variable_path(flow_id: @flow) %>
  </div>

  <div class="section">
    <h3>Runs</h3>

    <%= render @flow.runs %>
  </div>
</div>
