<h1><%= @flow.name %></h1>

<pre>
<%= @flow.body %>
</pre>

<%= link_to "Edit flow", edit_flow_path(@flow) %>

<h2>Schema</h2>

<pre>
<%= @flow.schema %>
</pre>

<h2>ENV Variables</h2>

<ul>
  <% @flow.env_variables.each do |env| %>
    <li>
      <%= env.key %> = <%= env.value %>
      <%= link_to "[X]", flow_env_variable_path(env, flow_id: @flow.id), method: :delete %>
    </li>
  <% end %>
</ul>
<%= link_to "Add Variable", new_flow_env_variable_path(flow_id: @flow.id) %>

<h3>Runs</h3>

<ul>
  <% @flow.runs.each do |run| %>
    <li>
      <%= link_to l(run.created_at), flow_run_path(run, flow_id: @flow.id) %>
      | exited with code: <%= run.exit_status %>
    </li>
  <% end %>
</ul>
