<h1>
  <%= link_to @block_run.user.username, user_blocks_path(@block_run.user) %>
  /
  <%= link_to @block_run.block.name, block_path(@block_run.user, @block_run.block) %>
  /
  <%= @block_run.id %>
</h1>

<div class="layout-column-left">
  <h2>Input</h2>

  <%= highlight_json prettify(@block_run.input) %>
</div>

<div class="layout-column-right">
  <h2>Output:</h2>
  <%= highlight_json prettify(@block_run.output) %>

  <h2>Logs:</h2>
  <pre><%= @block_run.stdout %></pre>

  <h2>Errors:</h2>
  <pre><%= @block_run.stderr %></pre>

  <h2>Exit code:</h2>
  <pre><%= @block_run.exit_status %></pre>
</div>
