<%= simple_form_for(@block, url: url, html: { class: "layout-form" }) do |f| %>
  <%= f.input(
    :name,
    hint: "
    <p>
    Only use letters, numbers, and underscores.
    </p>
    <p>
    This will be how you refer to your script throughout the site, so make it short and memorable.
    </p>
    ".html_safe,
  ) %>

  <%= f.input(
    :description,
    hint: "
    <p>
    If you want other people to use your block, you better explain how it works!
    </p>
    ".html_safe,
  ) %>

  <%= f.input(
    :environment,
    collection: BlockRun::ENVIRONMENT_COMMANDS.keys,
    hint: "
    <p>
    What language are you most comfortable writing in?
    </p>
    <p>
    If you want to see another language supported,
    #{mail_to(ENV.fetch('FEEDBACK_EMAIL'), 'let us know')}.
    </p>
    ".html_safe,
  ) %>

  <%= f.input(
    :body,
    hint: "
    <p>
    This is where your script goes. A few pointers:
    </p>
    <p>
    Your script runs in a private container.
    You have full control over the entire filesystem,
    but please don't mess with the <code>/flow</code> directory,
    because we use that for things like passing input into your script.
    </p>
    <p>
    You can include any standard library you like.
    </p>
    <p>
    Right now we're taking on all server costs ourselves,
    so please be conscientious of long-running jobs.
    </p>
    ".html_safe
  ) %>

  <%= f.input(
    :schema,
    label: "Input Schema",
    as: :hidden,
    hint: "
    <p>
    What information does this block need in order to run correctly?
    Users will be responsible for providing this information
    whenever they run your block.
    </p>
    <p>
    A checkbox indicates that a field is required.
    </p>
    ".html_safe,
  ) %>

  <%= react_component(
    "SchemaBuilder",
    {
      initialValue: @block.schema,
      formElement: "#block_schema",
    },
    { prerender: true },
  ) %>

  <%= f.button :submit %>
<% end %>
