<div class="layout-column-left">
  <div class="section">
    <%= image_tag @block.icon, style: "height: 3rem" %>

    <h1>
      <%= link_to @block.user.handle, @block.user %>
      /
      <%= @block.name %>
    </h1>

    <p class="hint">
    Registered on <%= l(@block.created_at.to_date) %>
    </p>
  </div>

  <div class="section">
    <h2>Description</h2>

    <p>
      <%= @block.description %>
    </p>

    <div>
      <%= link_to "Edit", edit_block_path(claim, @block) %>
    </div>
  </div>

  <div class="section">
    <%= link_to "https://hub.docker.com/#{claim.handle}/#{@block.name}", class: "github-link" do %>
      View on Docker Hub &gt;
    <% end %>
  </div>
</div>

<div class="layout-column-right">
  <div class="section section-hint">
    <% if @block.user == current_user %>
      As the block's author,
      <%= link_to "edit the block's input schema", edit_block_path(@block.claim, @block) %>
      to help users understand how it works.
    <% end %>
  </div>

  <%= react_component(
    "BlockUsage",
    schema: @block.schema,
    run_block_url: block_runs_url(@block.claim, @block),
    user_api_key: current_user.api_key,
    initial_input_data: @block.runs.last.try(:input),
  ) %>
</div>
