<div class="layout-column-left">
  <div class="section">
    <%= image_tag @block.icon, style: "height: 3rem" %>

    <h1>
      <%= link_to @block.user.handle, @block.user %>
      /
      <%= @block.name %>
    </h1>

    <p class="hint">
    Built from <%= link_to @block.github_repo, "https://github.com/#{@block.github_repo}" %>
    <br/>
    on <%= l(@block.created_at.to_date) %>
    </p>
  </div>

  <div class="section">
    <h2>Description</h2>
    <p>
      <%= @block.description %>
    </p>
  </div>

  <div class="section">
    <%= link_to "https://github.com/#{@block.github_repo}", class: "github-link" do %>
      <%= octicon "mark-github" %>
      View on GitHub &gt;
    <% end %>
  </div>
</div>

<div class="layout-column-right">
  <div class="section section-hint">
    <% if @block.user == current_user %>
      As the block's author,
      <%= link_to "edit the block's input schema", edit_block_path(@block.user, @block) %>
      to help users understand how it works.
    <% end %>
  </div>

  <%= react_component(
    "BlockUsage",
    schema: @block.schema,
    run_block_url: block_runs_url(@block.user, @block),
    initial_input_data: @block.runs.last.input,
  ) %>
</div>
