<div class="layout-column-left">
  <div class="card">
    <h1>
      <%= link_to @block.user.username, @block.user %>
      /
      <%= @block.name %>
    </h1>

    <p class="hint">
    Built from <%= link_to @block.github_repo, "https://github.com/#{@block.github_repo}" %>
    </p>

    <p>
      <%= @block.description %>
    </p>

    <%= render "author_info", item: @block %>
  </div>
</div>

<div class="layout-column-right">
  <div class="section">
    <%= react_component "SchemaBuilder", initialValue: @block.schema %>
  </div>

  <div class="section">
    <h2>Try it out!</h2>

    <div class="hint">
      <p>
      Make sure this block behaves how you expect it to.
      Fill in sample inputs and click Go to test out the block.
      </p>
    </div>

    <%= react_component(
      "BlockSandboxForm",
      schema: @block.schema,
      submit_url: events_path(current_user.sandbox_feed_for(@block).name),
      form_data: @block.runs.where(app: current_user.sandbox_app).last.try(:input) || {},
    ) %>
  </div>
</div>
