<div class="heading">
  <%= render "author_info", item: @block %>

  <h1><%= @block.name %></h1>
</div>

<div class="layout-row">
  <%= @block.description %>
</div>

<div class="layout-column-left">
  <%= link_to "Edit", edit_block_path(@block.user, @block) %>

  <%= highlight_block(@block) %>

  <div class="section">
    <h2>Input Schema</h2>
    <%= display_json(@block.schema) %>
  </div>

  <div class="section">
    <h2>Environment Variables</h2>

    <div class="section-description">
      These variables are kept secret from everyone else,
      but you can use them in your script through <code>block.env</code>.
    </div>

    <ul>
      <% @block.env_variables.each do |env| %>
        <li>
          <code><%= env.key %></code> = <%= "*" * 8 %>
          <%= link_to "[X]", destroy_env_path(@block.user, @block, env), method: :delete %>
        </li>
      <% end %>
    </ul>

    <%= link_to "+ Add Variable", new_env_path(@block.user, @block) %>
  </div>
</div>

<div class="layout-column-right">
  <div class="section">
    <h2>Try it out!</h2>

    <%= react_component(
      "BlockSandboxForm",
      schema: JSON.parse(@block.schema),
      submit_url: events_path(current_user.sandbox_feed_for(@block).name),
    ) %>
  </div>

  <div class="section">
    <%= render(
      "block_runs",
      runs: @block.runs.where(app_id: current_user.apps.pluck(:id)),
    ) %>
  </div>
</div>
