<div class="layout-column-left">
  <div class="section">
    <%= image_tag @block.icon, style: "height: 3rem" %>

    <h1>
      <%= link_to @block.user.handle, @block.user %>
      /
      <%= @block.name %>
    </h1>

    <p class="hint">
    Registered on <%= l(@block.created_at.to_date) %>
    </p>
  </div>

  <div class="section">
    <h2>Description</h2>

    <p>
      <%= markdown(@block.description) %>
    </p>

    <div>
      <%= link_to "Edit", edit_block_path(user, @block) %>
    </div>
  </div>

  <div class="section">
    <%= link_to(
      "https://hub.docker.com/r/#{user.handle}/#{@block.name}",
      class: "github-link",
      target: "_blank",
    ) do %>
      View on Docker Hub &gt;
    <% end %>
  </div>
</div>

<div class="layout-column-right">
  <% if @block.user == current_user %>
    <div class="section section-hint">
      As the block's author,
      <%= link_to "edit the block's input schema", edit_block_path(@block.user, @block) %>
      to help users understand how it works.
    </div>
  <% end %>

  <%= react_component(
    "BlockUsage",
    schema: @block.schema,
    run_block_url: block_runs_url(@block.user, @block),
    user_api_key: current_user.try(:api_key),
    initial_input_data: @block.runs.where(user: current_user).last.try(:input),
  ) %>
</div>
