<div class="layout-column-left">
  <div class="section">
    <%= image_tag @block.icon, style: "height: 3rem" %>

    <h1>
      <%= link_to @block.user.username, @block.user %>
      /
      <%= @block.name %>
    </h1>

    <p class="hint">
    Built from <%= link_to @block.github_repo, "https://github.com/#{@block.github_repo}" %>
    <br/>
    on <%= l(@block.created_at.to_date) %>
    </p>
  </div>

  <div class="section">
    <h2>Description</h2>
    <p>
      <%= @block.description %>
    </p>
  </div>
</div>

<div class="layout-column-right">
  <%= react_component(
    "BlockUsage",
    schema: @block.schema,
    run_block_url: block_runs_url(@block.user, @block),
    user_owns_block: (@block.user == current_user),
    edit_block_path: edit_block_path(@block.user, @block),
    initialInputData: @block.runs.last.input,
  ) %>
</div>
