<div class="heading">
  <%= render "author_info", item: @app %>
  <h1><%= @app.name %></h1>
</div>

<section class="app-description">
  <%= simple_format(@app.description) %>

  <%= link_to "Edit app metadata", edit_app_path(@app.user, @app) %>
</section>

<div>
  <%= react_component("AppCanvas", @app.canvas_json) %>

  <div class="app-runs">
    <%= render "block_runs", runs: @app.block_runs %>
  </div>
</div>
