<h1>
  <%= link_to @run.user.username, user_blocks_path(@run.user) %>
  /
  <%= link_to @run.block.name, block_path(@run.user, @run.block) %>
  /
  <%= @run.id %>
</h1>

<div class="layout-column-left">
  <h2>Input</h2>

  <%= highlight_json prettify(@run.args) %>
</div>

<div class="layout-column-right">
  <h2>Output:</h2>
  <pre><%= @run.output %></pre>

  <h2>Errors:</h2>
  <pre><%= @run.run_errors %></pre>

  <h2>Exit code:</h2>
  <pre><%= @run.exit_status %></pre>
</div>
