<div class="header">
  <div class="header-menu">
    <div class="layout-column-left">
      <%= image_tag "blocks/block-4.png", class: "header-logo" %>
      <span class="header-title">The App Factory</span>

      <% if signed_in? %>
        <%= link_to t("header.explore"), explore_path %>
        <%= link_to t("header.my_apps"), user_apps_path(current_user) %>
        <%= link_to t("header.my_blocks"), user_blocks_path(current_user) %>
      <% end %>
    </div>

    <div class="layout-column-right">
      <% if signed_in? %>
        <%= button_to "Sign out", session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
        <%= link_to "Sign up", new_user_path %>
      <% end %>
    </div>
  </div>
</div>
