<div class="header">
  <div class="header-menu">
    <div class="layout-column-left">
      <%= image_tag "blocks/block-4.png", class: "header-logo" %>
      <span class="header-title">Assemble</span>

      <% if current_user %>
        <%= link_to t("header.explore"), root_path %>
        <%= link_to t("header.my_blocks"), user_blocks_path(current_user) %>
        <%= link_to t("header.about"), user_blocks_path(current_user) %>
      <% end %>
    </div>

    <div class="layout-column-right">
      <% if current_user %>
        <%= button_to "Sign out", session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in with GitHub", new_session_path %>
      <% end %>
    </div>
  </div>
</div>
