<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <%= favicon_link_tag "blocks/block-4.png" %>

    <title><%= title %></title>

    <%= stylesheet_link_tag :application, media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class %>" data-rails-env="<%= Rails.env %>">
    <%= react_component(
      "Header",
      current_user: current_user.try(:handle),
    ) %>

    <div class="content">
      <%= render "flashes" -%>
    </div>

    <%= react_component("App") %>

    <%= render "javascript" %>
    <%= render "css_overrides" %>
  </body>
</html>
